<body>
  <h1>Steam Info</h1>
  <div>
    <ul class="player-info">
      <li class="avatar"></li>
      <li class="userName">User Name: </li>
      <li class="realName">Name: </li>
    </ul>
    <input type="button" value="go!" class="go"/>
  </div>
</body>