
<body>
  <div class='title'>
    PlayTogether
    <div class='subheading'>
      Find games you can play with your friends.
    </div>
  </div>

  <div class='container'>
    <div class='infoArea'>
      <div class='avatar'></div>
    <ul class="playerInfo">
      <!-- <li class="avatar"></li> -->
      <li class="userName"></li>
      <li class="realName"></li>
      <li class="steam64id"></li>
    </ul>
  </div>
  <p>
    Enter your steam custom url or steam64 id in the box
  </p>
    <form>
      <input class="urlOrId" type="text" placeholder="custom url or id"/>
      <input class='go' type='button' value='Get Info'/>
    </form>
  </div>
  <div class="footer">
    <p>Powered by <a href="http://steampowered.com">Steam</a></p>
  </div>
</body>
